*.dat
*.suo
*.nii
*.asv
*.psd
*.yml
*.tlog
*.log
*.zip
*.vtk
*.vti
*.rar
*.zip
*.mat
*.txt
*.tgz
*.pdb
*.pdb
unscramble_pm_logfile.*
build/*
Documentation/*
Documentation_Private/*
!Documentation/apm_documentation.bib
!Documentation/apm_documentation.tex
!Documentation/apm_documentation.pdf
!Documentation/images.pptx
!Documentation/images/*